.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/edit-button.svg");
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
