.place__like {
  border-style: none;
  width: 22px;
  flex-basis: 22px;
  flex-shrink: 0;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-color: transparent;
}

.place__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
