.places {
  margin: 0;
  padding: 50px 0 66px;
  display: grid;
  grid-template: repeat(2, min-content) / repeat(3, 1fr);
  /* grid-auto-rows: minmax(min-content, 1fr); */
  gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
  .places {
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 36px 0 48px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    grid-template-columns: 1fr;
  }
}
