.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 33.6%;
  top: 195px;
  padding: 36px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .popup__container {
    width: 66%;
  }
}

@media screen and (max-width: 568px) {
  .popup__container {
    width: 88%;
    top: 123px;
    padding: 25px 22px;
  }
}
