.button_type_edit {
  position: absolute;
  right: -40px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/edit-button.svg");
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .button_type_edit {
    right: -28px;
    top: 10px;
    width: 18px;
    height: 18px;
  }
}
