.add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url("../../images/add-button.svg");
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  margin-left: auto;
  flex-shrink: 3;
}

@media screen and (max-width: 768px) {
  .add-button {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .add-button {
    min-width: 150px;
    min-height: 50px;
  }
}
