.popup__save {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  height: 50px;
  padding: 0;
  margin-top: 48px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .popup__save {
    margin-top: 48px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}
