.place__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  border-style: none;
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/delete-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-color: transparent;
}
