.popup__close {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: -48px;
  right: -48px;
  background-image: url("../../../images/close-button.svg");
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .popup__close {
    right: 0;
    width: 26px;
    height: 26px;
  }
}
