.profile__name {
  grid-area: name;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__name {
    margin-left: 24px;
    font-size: 27px;
    line-height: 33px;
  }
}
