.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* .profile__avatar:hover { */
/* background-image: url(../../../images/edit-avatar-icon.svg); */
/* background-color: #c4c4c4; */
/* cursor: pointer; */
/* opacity: 0; */
/* } */

/* .profile__avatar::before { */
/* content: ""; */
/* display: block; */
/* position: absolute; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* height: 100%; */
/* background-image: url(../../../images/edit-avatar-icon.svg);
  background-color: #c4c4c4;
  z-index: -1;
  opacity: 0.5;
  background-size: cover;
}
.profile__avatar:hover::before {
  opacity: 1;
} */
