@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/__image/logo__image.css);
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/avatar/__image/avatar__image.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__photo/place__photo.css);
@import url(../blocks/place/__info/place__info.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__like/_active/place__like_active.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/hover/hover.css);
