.profile__info {
  position: relative;
  max-width: calc(100% - 38px);
  display: grid;
  grid-template-areas:
    "name"
    "bio";
  gap: 16px;
  margin: 0 30px;
  grid-template-columns: auto;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .profile__info {
    gap: 14px;
    margin: 26px auto 36px;
  }
}
