.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "bio bio";
  gap: 16px 18px;
  margin: 0 30px;
  flex-shrink: 1;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .profile__info {
    gap: 14px 10px;
    margin: 26px auto 36px;
  }
}
