.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0 0 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .form__input {
    padding: 0 0 8px;
  }
}
